<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Milonga&family=Montserrat&display=swap" rel="stylesheet">
    <title>Antioxidanty</title>
</head>


<body>
  <div class="body_antioxidanty"> 
    <div class="wrapper">
        
        <header class="header">  
                <div class="header_texty"> 
            <p class="header_texty_nadpis">Antioxidanty</p>
            <p class="header_texty_popis"> Antioxidanty jsou sloučeniny,
                které brání oxidaci, což je chemická reakce, při níž mohou
                vznikat volné radikály.</p>
                </div>
        <!--<img class="header_image" src="images/pozadi.png" alt="pozadí hlavičky"> PŘIDAT NA POZADI
        MÍSTO BARVY-->
        </header>

        <div class="delici_cara"><br></div>

{{content|safe}}