<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Milonga&family=Montserrat&display=swap" rel="stylesheet">
    <title>Antioxidanty</title>
</head>


<body>

  <div class="body_antioxidanty"> 
    <div class="wrapper">
        
        <header class="header">  

       <a href="index.html" class="button_home_item1">Home</a>
                         
        </header>

        <div class="delici_cara"><br></div> 

        
            {{content|safe}} 

        
            
    </div>
  </div> 

    

 </div>
    

 <footer class="footer">

    &reg;2023, Anet
    
  </footer>



</body>
</html>
